<!doctype html>
<html>
  <head><title>Your Grouphone password</title></head>
  <style type="text/css">
    body {
      text-align: center;
    }
  </style>
<body>
  <h2>Reset your password</h2>

  <p>Hi <%= email %>,</p>

  <p>You (and hopefully not anyone else) have initiated a password reset request on Grouphone.</p>

  <p>Please go to this URL to set a new password for your Grouphone account:</p>

  <p><strong><a href="http://grouphone.me/activate/<%= token %>" target="_blank">http://grouphone.me/activate/<%= token %></a></strong></p>

  <p>If you remember your existing password, you can still login with it.</p>

  <p>Cheers!</p>

  <p>The Grouphone team</p>
</body>
</html>
