<!doctype html>
<html>
  <head><title>Grouphone</title><meta charset="utf-8"></head>
  <style type="text/css">
   body {
     padding: 25px;
     font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
     background-color: #fafafa;
     font-size: 16px;
   }
   h1 {
     font-size: 24px;
     text-align: center;
     font-weight: normal;
     padding-bottom: 10px;
     border-bottom: 1px dotted #ccc;
   }
   h2 {
     font-size: 20px;
     font-weight: normal;
     padding-bottom: 8px;
     border-bottom: 1px dotted #cccccc;
     margin-top: 32px;
   }
   h3 {
     font-size: 16px;
     font-weight: normal;
     padding-bottom: 8px;
     margin-top: 32px;
   }
   a, a:visited {
     color: #FF7E00;
     text-decoration: none;
   }
   p {
     text-align: justify;
   }
   .highlight {
     margin: 10px auto;
     padding: 10px 20px;
     background-color: #f0f0f0;
   }
   .footer {
     margin: 20px 0;
     padding: 10px 0;
     background-color: #333333;
     color: #cccccc;
     text-align: center;
   }
   .footer a, .footer a:visited {
     color: #cccccc;
     text-decoration: none;
   }
  </style>
  <body>
