    <p>Cheers!</p>

    <p>The Grouphone team<br>
      [https://grouphone.me]</p>

    <p class="footer">Made with <code>&lt;3</code> by <a href="http://applait.com" target="_blank">Applait</a></p>
  </body>
</html>
